.pi-graduation-cap {
  font-size: 2.5rem;
}

.p-button {
  background: #4f46e5;
  border-radius: 0.75rem;

  &:enabled:hover {
    background: #4338ca;
  }
}

.animate-fadein {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
