.animate-fadein {
  animation: fadeIn 0.6s ease-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

/* لمنع ظهور حدود الـ p-card الافتراضية إذا كنت ستستخدمها */
::ng-deep .p-card {
    border: none !important;
    box-shadow: none !important;
}